<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="appName" value="音乐放松系统" />
    <add key="appCode" value="yyfs" />
    <add key="appDesc" value="兼容 Mac、Windows 和 Linux，可以在三个平台的运行使用的应用程序，使用当前主流开发技术vue3、vite、electron、ant design等，打造的极致流畅的客户端应用" />
    <add key="installPath" value="C:\\Program Files" />
    <add key="appVersion" value="adipisicing consequat dolor" />
    <add key="appSettings" value="[{\&quot;groupName\&quot;:\&quot;基础设置\&quot;,\&quot;label\&quot;:\&quot;是否启用\&quot;,\&quot;labelText\&quot;:\&quot;是否启用\&quot;,\&quot;labelDesc\&quot;:\&quot;是否启用\&quot;,\&quot;value\&quot;:\&quot;true\&quot;,\&quot;uiType\&quot;:1,\&quot;placeholder\&quot;:\&quot;请输入\&quot;,\&quot;data\&quot;:{\&quot;1\&quot;:\&quot;是\&quot;,\&quot;0\&quot;:\&quot;否\&quot;}},&#xD;&#xA;      &#xD;&#xA;      {\&quot;groupName\&quot;:\&quot;基础设置1\&quot;,\&quot;label\&quot;:\&quot;是否启用1\&quot;,\&quot;labelText\&quot;:\&quot;是否启用1\&quot;,\&quot;labelDesc\&quot;:\&quot;是否启用1\&quot;,\&quot;value\&quot;:\&quot;true1\&quot;,\&quot;uiType\&quot;:1,\&quot;placeholder\&quot;:\&quot;请输入1\&quot;,\&quot;data\&quot;:{\&quot;1\&quot;:\&quot;是1\&quot;,\&quot;0\&quot;:\&quot;否1\&quot;}}]" />
    <add key="device" value="" />
  </appSettings>
</configuration>